@{ 
    ViewData["Title"] = "Database Project";
}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <h2 style="color:white;text-shadow:1px 1px 2px black">Phoenix Pho Restaurant Database Project</h2>
    <p style="color:white; text-shadow:1px 1px 2px black">Tommy Nguyen and Dan Tran were tasked with creating a fictional restaurant. They were also tasked with managing the activities for Phoenix Pho by creating a database that would data and information regarding its operations. The database was developed in Oracles SQL developer.</p>
    <div class="container">
        <div class="row">
            <div class="col align-items-start">
                <a href="~/Content/PhoenixPhoEERDModel.png"><img src="~/Content/PhoenixPhoEERDModel.png" style="width:300px;height:300px" /></a>
            </div>
            <div class="col align-items-center">
                <a href="~/Content/PhoenixPhoDataModel.png"><img src="~/Content/PhoenixPhoDataModel.png" style="width:300px;height:300px" /></a>
            </div>
            <div class="col align-items-end">
                <a href="~/Content/ManagersTable.png"><img src="~/Content/ManagersTable.png" style="width: 400px; height: 200px" /></a>
            </div>
        </div>
        <p style="color:white;text-shadow:1px 1px 2px black;">The goal of this project is to get a good grasp of the Database development process and the necessary steps that is needed to be taken in order to create a stable and secure relation. Tommy and Dan were given a period of 3-4 months to work on the project (given that they were taught the steps while simultaneously working on the project). Every week (around Wednesday), Tommy and Dan were given a assignment to work on a specific part of the database development process. The initial step was to come up with an idea of what kind of restaurant they wanted to model for, what food they had, how they treat employees, pay, costs, and so forth. They were next tasked with creating a business statement for their restaurant. Then, Tommy and Dan were tasked with creating an ERD model (and then an EERD model if their database requires a subtype and supertype relationship which it did). Next, Tommy and Dan needed to create a data model in order to identify the primary and foreign keys of each table. Finally, Tommy and Dan were tasked with creating the database, inserting data into the database, and querying the information within the database.</p>
        <h1 style="color:white;text-shadow:1px 1px 2px black;">You can see my database project <a href="https://github.com/Tommy-Nguyen-cpu/Phoenix-Pho-Database-Project">HERE</a></h1>
    </div>
</body>
</html>