@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="text-center">
        <h1 class="display-4" style="color:white;text-shadow: 1px 1px 2px black">Welcome To Tommy's Portfolio!</h1>
        <p style="color:white;text-shadow: 1px 1px 2px black ">You can find all of Tommy's projects <a href="https://github.com/Tommy-Nguyen-cpu">HERE</a>.</p>
    </div>

    <img id="ProfilePicture" src="~/Content/ProfilePicture.jfif" style="width:300px;height:300px;padding-right:20px" align="left" />
    <ul style="color:white;text-shadow: 2px 2px 3px black">
        <li>Tommy is a junior at Wentworth Institute of Technology.</li>
        <li>Achieved his goal of getting onto the Dean's List every semester.</li>
        <li>Interned at State Street during the summer of 2019.</li>
        <li>Interned for InterlinkONE during the summer of 2021.</li>
        <li>CO-OP at Delsys during the spring of 2022.</li>
        <li>Knowledgeable in Java, Python, C#, C, JavaScript/HTML/CSS, ASP.NET.</li>
    </ul>
    <div class="align-items-center">
        <img src="~/Content/WITBanner.gif" />
    </div>
</body>
</html>

