@{ 
    ViewData["Title"] = "RPGGame";
}
<html>
<head>
    <body>
        <h1 style="color:white;text-shadow:1px 1px 2px black">Tag You're It</h1>
        <p style="color:white;text-shadow:1px 1px 2px black">"Tag You're It" is a personal project Tommy created in order to practice his object-oriented skills, tackle the complexity of game development, and to gain experience working on a different kind of project.</p>
        <a href="https://github.com/Tommy-Nguyen-cpu/Tag-You-re-It-Game"><img src="~/Content/TagYouAreItImage.jpg" width="400" height="300" /></a>
        <p style="color:white;text-shadow:1px 1px 2px black; display:inline-block;vertical-align:top">"Tag You're It" is a game developed in Java using JavaFXs built in libraries.<br />The goal of the game is to reach the yellow rectangle (stage exit) <br />without your life points reaching zero. During each stage, potions will be scattered <br />all throughout the stage. The potions will heal your health.<br />During each stage, mummies will spawn at random locations <br />(numbers ranging from 0-5). You will gain points each time you<br />reach an exit. Once you have enough points, you can buy items.<br />The "ice" item freezes the enemies until you reach the exit.<br />The shield prevents you from taking damage until you reach the exit.<br />Aside from gameplay, you are able to adjust the volume of the music.</p>
    </body>
</head>
</html>