@{
    ViewData["Title"] = "Sebastian";
}
<h1 style="color: white; text-shadow: 1px 1px 2px black">@ViewData["Title"]</h1>

<p style="color: white; text-shadow: 1px 1px 2px black">Sebastian is a personal assistant created for Tommy Nguyen's Network Programming class.</p>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/SebastianPageFormat.css" />
</head>
<body>

    <img id="SebastianGUI" src="~/Content/PersonalAssistantGUI (2).jpg" style="width:200px;height:200px;padding-right:10px" />
    <p style="color:white;text-shadow:1px 1px 2px black;display:inline-block;vertical-align:middle">Sebastian is a personal assistant created using Java in the Eclipse environment. <br />The purpose of creating Sebastian is to be able to incorporate <br />many of the core networking concepts taught in Tommy's Network Programming class.<br /> Sebastian is capable of connecting to the internet,<br /> retrieving data from Wikipedia (based on what the topic the user wants information on), <br />can open tabs, go to website, open applications, get Boston weather data, <br />and hold small conversations with the user (based on what is available in the conversations file).</p>
    <video id="Video1" width="400" height="400" controls>
        <source src="~/Content/SebastianDemonstration.mp4" type="video/mp4" />
    </video>
    <video id="Video2" width="400" height="400" controls>
        <source src="~/Content/SebastianDemonstration2.mp4" type="video/mp4" />
    </video>

    <p id="NoteForVideos">Note: These videos are outdated.<br /> Newer model does not require console input.<br />Newer model can be found on GitHub.</p>
</body>
</html>