<script src="~/js/gameScript.js" type="text/javascript"></script>
<style>
    body {
        animation-name: none;
        background-color: black;
        background-image: url('../Content/PickOne1.jpg');
    }
    .heightSpacer {
        padding-top: 28em;
    }
    .widthSpacer{
        padding-left:23em;
    }
    .widthBetweenPills{
        padding-left:18em;
    }
</style>

<div class="container">
    <div class="container justify-content-center" style="display:flex;">
        <audio src="~/Content/AudioForGame2.wav" controls>
            <p>This isn't good, your browser doesn't support the audio element in HTML.</p>
        </audio>
    </div>
    <div class="heightSpacer"></div>
    <div class="row">
        <div class="widthSpacer"></div>
        <img onmouseover="TallPlayer(this)" onmouseout="ShortPlayer(this)" onclick="PlayerPickedRedPill()" src="~/Content/OrangePill.png" style="height:30px;width:30px;"/>
        <div class="widthBetweenPills"></div>
        <img onmouseover="TallPlayer(this)" onmouseout="ShortPlayer(this)" onclick="PlayerPickedBluePill()" src="~/Content/BluePill.png" style="height: 30px; width: 30px;" />
    </div>
</div>