<script src="~/js/gameScript.js" type="text/javascript"></script>
<h1 style="color:white;text-shadow: 1px 1px 2px black">CONGRATULATIONS!</h1>
<h6 style="color:white;text-shadow: 1px 1px 2px black">You finished one of the most easiest problems ever! If you got here that means you actually took time out of your day to look at my profile (thank you by the way)!</h6>
<h6 style="color:white;text-shadow: 1px 1px 2px black">Your goal now is to click the button! It's very easy!</h6>

<div class="container align-content-center" style="width:200px;height:200px" id="ButtonContainer" onmousemove="GameOneButtonMove();">
    <div class="align-self-xl-center">
        <button type="button" id="clickMe" onclick="RedirectToGame2Page();">Click me!</button>
    </div>
</div>