<noscript>
    <!--TODO: If JavaScript isn't enabled, create a rectangle box that warns the user that they cannot access the game as long as JavaScript is disabled.-->
    <!--Background show be darkened and the rectangle box should be in front of everything and covering the features behind.-->

</noscript>
<h1 style="color:white;text-shadow: 1px 1px 2px black">CONGRATULATIONS!</h1>
<h6 style="color:white;text-shadow: 1px 1px 2px black">You finished one of the most easiest problems ever! If you got here that means you actually took time out of your day to look at my profile (thank you by the way)!</h6>
<h6 style="color:white;text-shadow: 1px 1px 2px black">Your goal now is to click the button! It's very easy!</h6>