@{
    bool isAdmin = false;
    string loginText;
    if (ViewData["ClientID"] != null)
    {
        loginText = (bool)ViewData["ClientID"] ? "Logout" : "Login";

    }
    else
    {
        loginText = "Login";
    }
    if(ViewData["IsAdmin"] != null)
    {
        isAdmin = (bool)ViewData["IsAdmin"];
    }
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TommyNguyenPortfolio</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body id="AllBackground">
    <header style="background-color:black;height:100%">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="color:white">Tommy Nguyen's Portfolio</a>
                <button class="navbar-toggler btn btn-success" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" style="background-color:white">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Sebastian">Sebastian</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="RPGGame">Tag You're It</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="DatabaseProject">Phoenix Pho Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="RecommendationDatabases" asp-action="Recommendations">Recommendations</a>
                        </li>
                        @if (isAdmin)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="PasswordTables" asp-action="Index">Password Tables</a>
                            </li>
                        }
                        <li class="nav-item">
                            <a class="nav-link text-white" asp-area="" asp-controller="PasswordTables" asp-action=@loginText>@loginText</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    @if (!string.IsNullOrEmpty((string)ViewData["Error"]))
    {
        <div class="alert alert-danger alert-dismissible fade show">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            @ViewData["Error"]
        </div>
    }
    @if ((string)ViewData["IsOnGamePage"] != null)
    {<!--TODO: When the screen reaches a certain shrink size, the container goes out of the header and footer range, fix this.-->
        <noscript>
            <div class="container" style="background-color:rgba(0,0,0,.6);width:100vw;height:85vh;position:absolute;left:5%">
                <div style="padding-bottom:3em"></div>
                <div class="container" style="background-color: white; width: 50vw; height: 70vh; border-block-color: gray; padding-right: 2em; object-fit: contain; overflow: scroll;">
                    <h1 class="text-center" style="color:red;">WARNING!</h1>
                    <h5 style="padding-bottom:1em">This game is unplayable if JavaScript is not enabled or not supported on this device.</h5>
                    <h5 style="padding-bottom:1em">Either enable JavaScript or change devices that has JavaScript enabled.</h5>
                    <h5 style="padding-bottom:1em">Thank you.</h5>
                    <h5>Sincerely,</h5>
                    <h5>Tommy Nguyen</h5>
                </div>
            </div>
        </noscript>
    }
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted" style="background-color:black">
        <div class="footer" style="color:white">
            &copy; 2021 - Tommy Nguyen Portfolio
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>