body {
}
#Video2{
    position:absolute;
    right:100px;
}
#Video1{
    position:relative;
    left:-50px;
}
#NoteForVideos{
    position:relative;
    color:white;
    top:-200px;
    right:-380px;
    text-decoration:underline;
    text-decoration-style:solid;
}