/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


#NoteForVideos {
    color: white;
    text-decoration: underline;
    text-decoration-style: solid;
    text-shadow: 1px 1px 2px black;
}

tr {
    border: 1px solid black;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer {
    background-color: black;
    flex: 0 0 50px; /*or just height:50px;*/
    margin-top: auto;
}
header{
    height:57px;
}
a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /*Determines how we should fit the image.*/
    background-size: cover;

    /*How long each transition take place*/
    transition: 3s;

    /*Calls my "@keyframes animate"*/
    animation-name: animate;

    /*Determines which way the animation moves*/
    animation-direction: alternate-reverse;

    /*How long the animation takes*/
    animation-duration: 30s;

    /*How many times the animation runs before it stops.*/
    animation-iteration-count: infinite;

    /*Determines whether the animation is played or it stops.*/
    animation-play-state: running;

    /*Determines how each animation transitions.*/
    animation-timing-function: ease-out;
}

@keyframes animate {
    0% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture1.jpg');
    
        }

    20% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture2.jpg');
    }

    40% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture3.jpg');
    }

    60% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture4.jpg');
    }

    80% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture5.jpg');
    }

    100% {
        background-image: url('../Content/BackgroundSlideShow/BackgroundPicture6.jpg');
    }
}
